.complete {
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
}

.complete__header {
  padding: 5px 0;
  text-align: center;
  background-color: #fff;
}

.complete__header h1 {
  margin: 10px 0;
  font-size: 32px;
}

.complete__body {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.complete__body__left {
  width: 49%;
  text-align: right;
}
.complete__body__right {
  width: 49%;
}

.complete__footer {
  background-color: #fff;
  width: 100%;
  height: 50px;
}

.complete__footer__buttons {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.complete__footer__buttons > button {
  /* border: 2px solid #0a0a23; */
  border: none;
  padding: 5px 10px;
  /* border-radius: 30px; */
  background: #0a0a23;
  color: #f5f5f7;
  font-size: 16px;
}

.complete__footer__buttons > button:hover {
  color: #f5f5f7;
  background-color: #0a0a23;
  cursor: pointer;
}
.complete__footer__buttons > button:focus {
  outline: none;
}

.homeButton {
  display: block;
  margin: 30px auto;
  border: 2px solid #0a0a23;
  /* border: none; */
  padding: 5px 10px;
  /* border-radius: 30px; */
  background: transparent;
  color: #0a0a23;
  font-size: 16px;
}

.homeButton:hover {
  color: #f5f5f7;
  background-color: #0a0a23;
  cursor: pointer;
}
.homeButton:focus {
  outline: none;
}

@media (max-width: 425px) {
  .complete {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
  }
  .complete__header h1 {
    margin: 10px 0;
    font-size: 24px;
  }
  .complete__body {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    line-height: 1.5rem;
    font-size: 1rem;
  }
}
